@model IEnumerable<VendasWebMvc.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <button>
        <a asp-action="Create">Criar Novo</a>
    </button>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <button>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                </button>
                <button>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                </button>
                <button>
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </button>
            </td>
        </tr>
}
    </tbody>
</table>
